<html>
  <head>
    <title> This is Genre </title>
  </head>
  <body>
    <h1> Genres </h1>
    <p> Including music, etc. </p>

    <ul>
    {% for genre in genres %}
      <li><p><a href="{{ url_for('get_artist_by_genre',
      id=genre.get('id')) }}">  {{  genre.get('name')  }} </a></p>
      <ul>
        {% for subgenre in genre.get('subgenres') %}
          <li><p><a href="{{ url_for('get_artist_by_genre',
        id=subgenre.get('id')) }}"> {{ subgenre.get('name') }}</a></p></li>
        {% endfor %}
      </ul></li>
      
    {% endfor %}
    </ul>

    <h2> That's it! </h2>

  </body>
</html>

